REACT_APP_API_URL=http://localhost:5000/api
DB_USER=sa
DB_PASSWORD=Erd23natc
DB_SERVER=localhost
DB_NAME=schoolwaysv
DB_PORT=1433
JWT_SECRET=secreto_de_desarrollo

RESEND_API_KEY=tu_api_key_de_resend
FRONTEND_URL=http://localhost:3000


## DBA: JAVIER HERNANDEZ
## FRONTEND: HEBER TORRENTO
## BACKEND: ERABISOR