REACT_APP_API_URL=http://localhost:5000/api
DB_USER=usuario_aqui
DB_PASSWORD=tu_contraseña_aqui
DB_SERVER=ip_o_dominio_aqui
DB_NAME=nombre_de_tu_base_de_datos
JWT_SECRET=secreto_de_desarrollo


## DBA: JAVIER HERNANDEZ
## FRONTEND: HEBER TORRENTO
## BACKEND: ERABISOR